.table {
    width: 100%;
    border-spacing: 0;
    
    &__row {
        &--pushable {
            cursor: pointer;
        }
        
        &--summary {
            background: darkgrey;
        }
    }
    
    &__arrow {
        transform-origin: center;
        transform: rotate(90deg);
        display: inline-block;
        margin-right: 6px;
        
        &--open {
            transform: rotate(180deg);
        }
    }
    
    &__cell {
        padding: 8px 0;
        
        &:not(&--title) {
            text-align: center;
        }
    }
}
